<h1>About</h1>
<p>Made by Jonathan Chang, a student in Bitmaker Labs, this is a web application</p>
<p>that allows you to reserve a spot in a restaurant at a specific time and date.</p>
<p>Feel free to test out this application and contact me if you find any bugs or</p>
<p>you wish to just speak about Rails or web dev in general.</p>
<%= image_tag("pic.jpg", height: '150', width: '150') %>
