<h1>Index of Reservations made by <%= @user.name %></h1>
<% @user.reservations.each do |reservation| %>
<p><%= reservation.restaurant.name %></p>
<p>Reservation at: <%= reservation.party_time %></p>
<p>--------------------------</p>
<% end %>