<h1>Restaurants</h1>
<%= form_tag restaurants_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<div id="restaurants">
  <%= render @restaurants %>
</div>



<script type="text/javascript">
  function display_search_results() {
  	if (this.readyState === 4) {
  		console.log(this);
  		document.getElementbyId('restaurants').innerHTML = this.responseText;
  	}
  }

  var form = document.getElementbyId('search-form');
  form.addEventListener('submit', function(event) {
  	event.preventDefault();
  	var searchValue = document.getElementbyId('search').value;
  	
  	var xhr = new XMLHttpRequest();
  	xhr.onload = display_search_results;
  	xhr.open('GET', '/restaurants/search?search=' + searchValue, true);
  	xhr.send();
  });
</script>